<div class="center hero-unit"> 
  <judul>Sedang Belajar Menghias Tampilan</judul>

  <h2>
    Halaman beranda
    <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
    belajar.
  </h2>

  <div>
  	 <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
  </div>

  <h3>
  </h3>
  
 
<div>
  	<%= link_to image_tag("rails.png", alt: "Rails"), 'http://rubyonrails.org/' %>
  </div>
</div>

