@import "bootstrap";

$lightGray: #999;
/* universal */

html {
  overflow-y: scroll;
}

body {
  padding-top: 60px;
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  h1 {
    margin-bottom: 10px;
  }
}
.center h1 {
  margin-bottom: 10px;
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

judul{
	margin-top: 100px;
	font-size: 18pt;
  	margin-bottom: 30px;
  	text-align: center;
	color: #B42738;
	font-family: "Tahoma";
	style:bold;
}

h1 {
  font-size: 12pt;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Helvetica Neue";
}

h2 {
  font-size: 12pt;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $lightGray;
  font-family: "Helvetica Neue";
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  font-family: "Helvetica Neue";
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  font-weight: bold;
  line-height: 1;
  &:hover {
    color: #fff;
    text-decoration: none;
  }
}

/* footer */
footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid #eaeaea;
  color: $lightGray;
  a {
    color: #555;
    &:hover {
      color: #222;
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 10px;
    }
  }
}